<div class="container" align="center">
    <form action="/orders/add" method="POST">
        <h2 align="center">Add Order</h2>
        <div class="col" align="center">
            <div class="col-md-6">
                <div class="form-group">
         
                    <label for="first" style="color: cornflowerblue;">Ticket</label>
                    <input type="text" class="form-control" placeholder="" name="id" value="">
                </div>
            </div>
            <div class="col-md-6">
                <div class="form-group">
                    <label for="date"  style="color: cornflowerblue;">Date</label>
                    <input type="text" class="form-control" placeholder="1/1/970" name="date" value="" >
                </div>
            </div>
      
                  <div class="col-md-6">
                <div class="form-group">
                    <label for="to"  style="color: cornflowerblue;">To</label>
                    <input type="text" class="form-control" placeholder="" name="to" value="">
                </div>
            </div>

                    <div class="col-md-6">
                <div class="form-group">
                    <label for="total"  style="color: cornflowerblue;">Total</label>
                    <input type="text" class="form-control" placeholder="" name="total" value="">
                </div>
            </div>
            <div class="col-md-6">
                <div class="form-group">
                    <button type="submit" class="btn btn-primary">Submit</button>
                </div>
            </div>
    </form>
</div>
<br>
