<div align="center">
  <div class="card" style="width: 18rem;">
    <img class="card-img-top" src="/public/images/order.png" />

    <ul class="list-group list-group-flush">
      <li class="list-group-item"><b>Ticket:</b> {{id}}</li>
      <li class="list-group-item"><b>Date:</b> {{date}}</li>
      <li class="list-group-item"><b>To:</b> {{to}}</li>
      <li class="list-group-item"><b>Total:</b> {{total}}</li>
    </ul>

  </div>
</div>