<div align="center">
  <div class="card" style="width: 18rem;">
    <img class="card-img-top" src="/public/images/supplier.png" />

    <ul class="list-group list-group-flush">
      <li class="list-group-item"><b>Name:</b> {{name}}</li>
      <li class="list-group-item"><b>Email:</b> {{email}}</li>
      <li class="list-group-item"><b>Phone:</b> {{phone}}</li>
      <li class="list-group-item"><b>City:</b> {{city}}</li>
    </ul>

  </div>
</div>